#main-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    height: 100vh;
    gap: 15px 5vw;
    padding: 15px;
}

#portrait {
    aspect-ratio: 3/4;
    width: 250px;
    margin-bottom: 0;
    background-image: url("https://preview.redd.it/heh2tofihpn01.jpg?auto=webp&s=022ec5d0941da6747e2fe9f9d0c1853a334ef362");
    background-size: cover;
}

#info {
    width: 250px;
    flex: 1 0 auto;
    margin-bottom: 0;
}

#story-container {
    font-size: large;
    max-width: 650px;
    flex: 1 0 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    padding-right: 0;
}

#story {
    flex: 1 0;
    overflow-y: scroll;
}

#story::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#story::-webkit-scrollbar-track {
    background: white;
}

#story::-webkit-scrollbar-thumb {
    background: #ddd;
    visibility: hidden;
}

#story:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

#extra {
    width: 250px;
    flex: 1 0 auto;
}


#click {
    display: block;
    margin-left: auto;
    margin-right: auto;
}