html {
    color-scheme: dark;
}

#main-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    height: 100vh;
    gap: 10px;
    padding: 10px;
}

#portrait {
    border: 1px solid red;
    aspect-ratio: 3/4;
    width: 250px;
}

#info {
    border: 1px solid green;
    width: 250px;
    flex: 1 0 auto;
}

#story-container {
    /* color-scheme: dark; */
    font-size: large;
    border: 1px solid purple;
    max-width: 650px;
    flex: 1 0 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

#story {
    flex: 1 0;
    overflow: auto;
    border: 1px solid yellow;
}

#extra {
    border: 1px solid orange;
    width: 250px;
    flex: 1 0 auto;
}


#click {
    display: block;
    margin-left: auto;
    margin-right: auto;
}