html {
    overflow: auto;
}

#main-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    height: 100vh;
    gap: 15px 5vw;
    padding: 15px;
}

#portrait {
    aspect-ratio: 3/4;
    width: 250px;
    margin-bottom: 0;
    background-image: url("https://picsum.photos/300/400");
    background-size: cover;
}

#info {
    width: 250px;
    flex: 1 0 auto;
    margin-bottom: 0;
}

#story-container {
    /* font-size: large; */
    max-width: 650px;
    flex: 1 0 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    padding-right: 0;
}

#story {
    flex: 1 0;
    overflow-y: scroll;
    padding: 10px;
}

#story .card figure {
    margin: 0;
}

#story .card figure img {
    display: block;
}

#story .card {
    margin-top: 1em;
    margin-bottom: 1em;
}

#story::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#story::-webkit-scrollbar-track {
    background: none;
}

#story::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 5px;
    visibility: hidden;
}

#story:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

#extra {
    width: 250px;
    flex: 1 0 auto;
}


#click {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tooltip {
    text-decoration: underline dotted 1.5px;
    text-underline-offset: 4px;
}

.red {
    color: red;
}

.content h1,
.content h2,
.content h3,
.content h4,
strong,
.card-header-title {
    color: inherit;
}

.has-background-dark .card-footer-item:not(:last-child) {
    border-right: 1px solid hsl(0, 0%, 18%);
}

.has-background-dark .card-footer {
    border-top: 1px solid hsl(0, 0%, 18%);
}

.has-background-dark .divider:after,
.has-background-dark .divider:before {
    background-color: #595959;
}

.has-background-dark .has-text-link {
    color: hsl(219, 70%, 96%) !important;
}

.has-background-dark .has-text-link:hover,
.has-background-dark .has-text-link:focus {
    color: hsl(218, 45%, 65%) !important;
}

.has-background-dark button {
    background-color: hsl(0, 0%, 21%);
    color: hsl(0, 0%, 96%);
    border-color: hsl(0, 0%, 18%);
}

.has-background-dark button:hover,
.has-background-dark button:focus {
    color: hsl(0, 0%, 96%);
}