html {
    overflow: auto;
}

#main-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    height: 100vh;
    gap: 15px 5vw;
    padding: 15px;
}

#porthole-container {
    /* aspect-ratio: 3/4; */
    width: 250px;
    margin-bottom: 0;
    /* background-image: url("https://picsum.photos/300/400"); */
    background-size: cover;
}

#info {
    width: 250px;
    flex: 1 0 auto;
    margin-bottom: 0;
}

#story-container {
    /* font-size: large; */
    max-width: 650px;
    flex: 1 0 100%;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    padding-right: 0;
    width: 100%;
}

#story-container>.scroll-container {
    width: 100%;
    /* flex: 1 0 0px; */
    margin-bottom: 1em;
}

#story-container>.scroll-content {
    width: 100%;
}

.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}

.scroll-content {
    scroll-snap-align: end;
}

#story {
    width: 100%;
    padding: 10px;
}

#story .card figure {
    margin: 0;
}

#story .card figure img,
#porthole {
    display: block;
    border-bottom-right-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}

#story>div {
    margin-bottom: 1em;
}

#story-container>.scroll-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#story-container>.scroll-container::-webkit-scrollbar-track {
    background: none;
}

#story-container>.scroll-container::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 5px;
    visibility: hidden;
}

.dark-mode #story-container>.scroll-container::-webkit-scrollbar-thumb {
    background: rgb(55, 55, 55);
}

#story-container>.scroll-container:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

#extra {
    width: 250px;
    flex: 1 0 auto;
}

.tooltip {
    text-decoration: underline dotted 1.5px;
    text-underline-offset: 4px;
}

.red {
    color: red;
}

.dark-mode .divider::before,
.dark-mode .divider::after {
    background-color: rgb(55, 55, 55);
}

#story-interface {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
}

#story-interface>.button,
#story-interface>.field {
    flex-grow: 1;
    flex-basis: 0px;
}

.textinput-text {
    flex-grow: 1;
}

.py-terminal {
    min-height: 50vh;
    display: block;
}

#screen-cover {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255);
}

.dark-mode #screen-cover {
    background: rgba(0, 0, 0);
}

.invisible {
    display: none;
}